#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon[en_US]=gnome-panel-launcher
Name[en_US]=About this VM Image
Exec=firefox http://www.swgemu.com/forums/showthread.php?t=85624
Comment[en_US]=Forum post detailing the usage of the Fast Track VM Image for SWGEMU
Name=About this VM Image
Comment=Forum post detailing the usage of the Fast Track VM Image for SWGEMU
Icon=/usr/share/pixmaps/transmission.png
