<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Links</h3>
    </div>
    <div class="panel-body">
      <h5> Main</h5>

      <ul>
        <li><a href="http://www.swgemu.com">SWGEmu Forums</a></li>
        <li><a href="http://www.swgemu.com/bugs">Mantis Bug Tracker</a></li>
        <li><a href="http://review.swgemu.com/#/q/status:open,n,z">Gerrit Code Review</a></li>
        <li><a href="http://www.modthegalaxy.com">Mod The Galaxy</a></li>
        <li><a href="https://stats.revelationonline.net/">SWGEmu Server Stats</a></li>
      </ul>

      <h5>Dev</h5>

      <ul>
        <li><a href="https://github.com/SWGEmu-Community-Contributions/DevEnv">SWGEmu-Community-Contributions</a></li>
        <li><a href="http://www.swgemu.com/archive/scrapbookv51/tree/frame.html">Scrapbookv51</a></li>
        <li><a href="http://wiki.swganh.org/index.php/Main_Page">ANH Wiki</a></li>
        <li><a href="http://www.bluree.net/convos/">Convo Editor</a></li>
        <li><a href="http://swg.bass-speaker.com/strings.php">String Search Tool</a></li>
        <li><a href="http://www.netyoda.co.uk/swg/mobs/critters.php?srt=creature&amp;d=d">Netyoda's Creature Database</a></li>
        <li><a href="http://www.swgemu.com/forums/showthread.php?t=85624">Previous FastTrack VM Image</a></li>
      </ul>

      <h5> Fun</h5>

      <ul>
        <li><a href="http://www.commitlogsfromlastnight.com/">Commit Logs From Last Night</a></li>
        <li><a href="http://www.hurm.com/agahw/archives/">A Girl and her Wookiee</a></li>
        <li><a href="http://greepnewbish.com/">Greep</a></li>
        <li><a href="http://www.tomscott.com/weather/starwars/">Star Wars Weather Forecast</a></li>
      </ul>
    </div>
  </div>

  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title">About EmuYoda</h3>
    </div>
    <div class="panel-body">
      <p>EmuYoda is a Web Service and API layer to the ZonamaDev SWGEmu Server Development System</p>
      <p>The underlying technology consists of an <a href="https://angularjs.org/" target=_blank>AngularJS</a> client that connects to the server-side <a href="https://github.com/lordkator/ZonamaDev/blob/master/server/emuyoda/lua/api.lua"
          target=_blank>YodaAPI</a>. The YodaAPI is implemented in <a href="http://www.lua.org/" target=_blank>Lua</a> using the <a href="https://openresty.org/" target=_blank>OpenResty</a> distribution
        of <a href="http://nginx.org/" target=_blank>Nginx</a>.</p>
      <p>The goal of EmuYoda is to empower users to manage their servers while also encouraging web developers to learn more about Lua and the SwgEmu server system.</p>
    </div>
  </div>

  <div class="panel panel-success">
    <div class="panel-heading">
      <h3 class="panel-title">More Help</h3>
    </div>
    <div class="panel-body">
      <p>You can learn more about the ZonamaDev environment at: <a href="https://github.com/lordkator/ZonamaDev" target=_blank>https://github.com/lordkator/ZonamaDev</a></p>
      <p>There are numerous resources available at the <a href="http://www.swgemu.com/" target=_blank>SWGEmu</a> offical web site.</p>
    </div>
  </div>
</div>
