<div class="container">
  <div class="panel" ng-class="{ 'panel-success': server_status.zoneServer.uptime, 'panel-warning': server_status.server_pid && !server_status.zoneServer, 'panel-danger': !server_status.server_pid }">
    <div class="panel-heading">
      <h3 class="panel-title">Server Console
	    <span ng-show="server_status.zoneServer">
	    (Status: Ready for login, Name: {{ server_status.zoneServer.name }}, Connected: {{ server_status.zoneServer.users.connected }}, Max: {{ server_status.zoneServer.users.max }}, Uptime: {{ server_status.zoneServer.uptime | timestampToString }})
	    </span>
	    <span ng-show="server_status.server_pid && !server_status.zoneServer">
	    (Status: Not ready for login, Process Uptime: {{ server_status.server_uptime }})
	    </span>
	    <span ng-show="!server_status.server_pid">
	    (Status: Not running)
	    </span>
		<div class="control-server-options">
		    <label for="control-autostart-server" >Autostart Server:
		    <input id="control-autostart-server" type="checkbox" ng-model="autostart_server" ng-change="updateServerOptions()" title="Check this to automatically start the emu server when the system boots.">
		    </label>
		</div>
	    </h3>
    </div>
    <div class="panel-body">
      <div>
        <pre id="logPre" class="logPre consoleLog"></pre>
      </div>
      <div class="control-buttonbar">
        <button id='control-start' ng-click='serverCommand("start")' class="control-button"><i class="fa fa-play"></i><br>START</button>
        <button id='control-stop' ng-click='serverCommand("stop")' class="control-button"><i class="fa fa-power-off"></i></br>STOP</button>
        <button id='control-status' ng-click='serverCommand("status")' class="control-button"><i class="fa fa-question-circle"></i></br>STATUS</button>
        <button id='control-backup' ng-click='serverCommand("backup")' class="control-button"><i class="fa fa-floppy-o"></i></br>BACKUP</button>
        <button id='control-latest' ng-click='serverCommand("latest")' class="control-button"><i class="fa fa-code-fork"></i></br>LATEST</button>
        <button id='control-build' ng-click='serverCommand("build")' class="control-button"><i class="fa fa-gavel"></i></br>BUILD</button>
        <button id='control-version' ng-click='serverCommand("version")' class="control-button"><i class="fa fa-info-circle"></i></br>VERSION</button>
        <form ng-submit='sendCommand("send")'>
          <button id='control-send' type="submit" ng-click='serverCommand("send")' class="control-button"><i class="fa fa-comment"></i></br>SEND</button>
          <div class="control-send-text" ng-show="pendingSend">
            Command to send:&#8203;
            <input type="text" ng-model="sendText" />
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
