<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Local Reference Materials</h3>
    </div>
    <div class="panel-body">
      <ul>
        <li><a ng-click="displayReference('/reference/swgemu-admin-commands.html')">SWGEmu Admin Commands</a></li>
        <li><a ng-click="displayReference('/reference/createitem.txt')">Create Item Cheat Sheet</a></li>
      </ul>
    </div>
  </div>
  <div class="panel panel-primary" ng-show="referenceURI != ''">
    <div class="panel-heading">
      <h3 class="panel-title">{{ referenceURI }}</h3>
    </div>
    <div class="panel-body">
      <iframe class="reference-content" ng-src="{{ referenceURI }}"> </iframe>
    </div>
  </div>
</div>
