#!/bin/bash
#
# basebox.config - Configuration for the base box scripts
#
PACKAGES="iceweasel firefox-esr dkms build-essential linux-headers-"$(uname -r)" xfce4 xfce4-goodies lightdm zenity xsel mysql-server mysql-workbench gdb pv screen cmake autoconf automake autotools-dev libpcre3-dev libreadline-dev libncurses5-dev libreadline6-dev default-libmysqlclient-dev libssl1.0-dev gdb castxml clang openjdk-8-jre google-chrome-stable vim vim-doc vim-scripts avahi-daemon ntp ntpdate wget unzip strace sysstat tcpdump ethtool ack-grep libgnome2-perl vim-gnome gedit sysvbanner xdotool imagemagick geany meld git-cola git-gui libdb5.3-dev dnsutils"
ECLIPSE_URL="http://eclipse.bluemix.net/packages/oxygen/data/eclipse-cpp-oxygen-R-linux-gtk-x86_64.tar.gz"
LUAROCKS_URL='http://luarocks.org/releases/luarocks-2.2.2.tar.gz'
OPENRESTY_REPO='https://github.com/openresty/ngx_openresty.git'
OPENRESTY_VERSION='latest'
ATOM_URL='https://atom.io/download/deb'
ATOM_PACKAGES='language-lua autocomplete-clang linter-clang'
# :vi set ft=sh
