#!/bin/bash
#
# basebox.config - Configuration for the base box scripts
#
PACKAGES="ack-grep autoconf automake autotools-dev avahi-daemon build-essential castxml ccache clang cmake default-libmysqlclient-dev dkms dnsutils ethtool firefox-esr gdb geany gedit git-cola git-gui google-chrome-stable iceweasel imagemagick less libdb5.3-dev libgnome2-perl libncurses5-dev libpcre3-dev libreadline-dev libreadline6-dev libssl1.0-dev lightdm linux-headers-"$(uname -r)" meld mysql-server mysql-workbench ninja-build ntp ntpdate openjdk-8-jre pv screen strace sysstat sysvbanner tcpdump time unzip vim vim-doc vim-gnome vim-scripts wget xdotool xfce4 xfce4-goodies xsel zenity"
ECLIPSE_URL="http://eclipse.bluemix.net/packages/oxygen/data/eclipse-cpp-oxygen-R-linux-gtk-x86_64.tar.gz"
LUAROCKS_URL='http://luarocks.org/releases/luarocks-2.2.2.tar.gz'
OPENRESTY_REPO='https://github.com/openresty/ngx_openresty.git'
OPENRESTY_VERSION='latest'
ATOM_URL='https://atom.io/download/deb'
ATOM_PACKAGES='language-lua autocomplete-clang linter-clang'
# :vi set ft=sh
