#!/bin/bash
#
# basebox.config - Configuration for the base box scripts
#
PACKAGES="iceweasel firefox-esr dkms build-essential linux-headers-"$(uname -r)" xfce4 xfce4-goodies lightdm zenity xsel mysql-server mysql-workbench gdb pv screen cmake autoconf automake autotools-dev libpcre3-dev libreadline-dev libncurses5-dev libreadline6-dev libmysqlclient-dev libssl-dev gdb gccxml clang openjdk-7-jre google-chrome-stable vim vim-doc vim-scripts avahi-daemon ntp ntpdate wget unzip strace sysstat tcpdump ethtool ack-grep libgnome2-perl vim-gnome gedit sysvbanner xdotool ImageMagick geany meld git-cola git-gui"
ECLIPSE_URL="http://eclipse.bluemix.net/packages/mars.1/data/eclipse-cpp-mars-1-linux-gtk-x86_64.tar.gz"
BDB_URL='http://download.oracle.com/berkeley-db/db-5.0.32.NC.tar.gz'
BDB_DIR='/usr/local/BerkeleyDB.5.0'
LUAROCKS_URL='http://luarocks.org/releases/luarocks-2.2.2.tar.gz'
OPENRESTY_REPO='https://github.com/openresty/ngx_openresty.git'
OPENRESTY_VERSION='latest'
ATOM_URL='https://atom.io/download/deb'
ATOM_PACKAGES='language-lua autocomplete-clang linter-clang'
# :vi set ft=sh
