#!/bin/bash
#
# global.config - Configuration used by basebox and fasttrack boxes
#
# NOTE: Only put stuff in there that both sides need to know, keep specific stuff in either */*.d/00-config-settings or common/{boxname}.config
#
#
##
ZONAMADEV_URL='https://github.com/lordkator/ZonamaDev'
#
## Default pw for mysql 'root' user
DEFAULT_MYSQL_PASSWORD='12345678'
#
## Where all the magic happens (note: Highly suggest paths without spaces!)
SERVER_DIR=~vagrant/server
#
## Openresty settings
OPENRESTY_DIR=${SERVER_DIR}/openresty
OPENRESTY_PORT=44480
OPENRESTY_SSL_PORT=44443
#
## Yoda Settings
EMUYODA_DIR=${SERVER_DIR}/emuyoda
#
## Third party sources directory
EXTERNAL_SRC_DIR=~vagrant/src
#
## Source settings
WORKSPACE=~vagrant/workspace
REPOS='Core3 PublicEngine Tools'
REPO_PUBLIC_URL="https://github.com/TheAnswer"
#
## List of know IP Addresses this box can be accessed through
IPLIST=~vagrant/.iplist
#
## Lua Config
LUA_LNUM_REPO='https://github.com/LuaDist/lualnum.git'
LUA_LNUM_PACKAGES='libncurses5-dev libreadline6-dev'
#
LUA53_URL='http://www.lua.org/ftp/lua-5.3.2.tar.gz'
LUA53_PACKAGES='libncurses5-dev libreadline6-dev'
LUA53_VERSION='5.3.2'
# This returns true if we need new LUA
LUA53_TEST_SRC="egrep '^.*double.*=.*503;' ${WORKSPACE}/Core3/MMOCoreORB/src/server/zone/managers/director/tests/BasicScreenPlayTest.cpp"
#
# :vi set ft=sh
