#!/bin/bash
#
# global.config - Configuration used by basebox and fasttrack boxes
#
# NOTE: Only put stuff in there that both sides need to know, keep specific stuff in either */*.d/00-config-settings or common/{boxname}.config
#
ZDUSER=vagrant
ZDHOME=/home/${ZDUSER}
#
## PATH
export PATH=${ZDHOME}/ZonamaDev/fasttrack/bin:${ZDHOME}/bin:$PATH
#
## Config file home dir
ZONAMADEV_CONFIG_HOME=${XDG_CONFIG_HOME:-${ZDHOME}/.config}/ZonamaDev
#
## Github repo
ZONAMADEV_URL='https://github.com/Zonama/ZonamaDev'
#
## Default branch
ZONAMADEV_BRANCH='release-1.5'
#
## Default pw for mysql 'root' user
DEFAULT_MYSQL_PASSWORD='12345678'
#
## Where all the magic happens (note: Highly suggest paths without spaces!)
SERVER_DIR=${ZDHOME}/server
#
## Backup directory for Backup and Restore
BUDIR=${SERVER_DIR}/swgemu/backups
#
## Openresty settings
OPENRESTY_DIR=${SERVER_DIR}/openresty
OPENRESTY_PORT=44480
OPENRESTY_SSL_PORT=44443
#
## Yoda Settings
EMUYODA_DIR=${SERVER_DIR}/emuyoda
#
## Third party sources directory
EXTERNAL_SRC_DIR=${ZDHOME}/src
#
## Source settings
WORKSPACE=${ZDHOME}/workspace
REPOS='Core3 Tools'
REPO_PUBLIC_URL="https://github.com/swgemu"
#
## Build & Run Dirs...
BUILD_DIR=${WORKSPACE}/Core3/MMOCoreORB
RUN_DIR=${WORKSPACE}/Core3/MMOCoreORB/bin
#
## Lua Config
LUA_LNUM_REPO='https://github.com/LuaDist/lualnum.git'
LUA_LNUM_PACKAGES='libncurses5-dev libreadline6-dev'
#
LUA53_URL='http://www.lua.org/ftp/lua-5.3.2.tar.gz'
LUA53_PACKAGES='libncurses5-dev libreadline6-dev'
LUA53_VERSION='5.3.2'
LUA53_TEST_DIR="/usr/local/lib/lua/5.3"
#
## Autoconfig Browser to use
read BROWSER OTHER_BROWSERS <<<$(for i in firefox iceweasel chromium google-chrome chromium-browser; do type -P $i; done)
unset OTHER_BROWSERS
#
## Which editors should we "consider" offering? (will check each before we offer)
EDITORS='atom gedit gvim geany nano'
#
## GERRIT SETTINGS
GERRIT_HOST=review.swgemu.com
GERRIT_PORT=29418
GERRIT_REGISTER_URL='http://'${GERRIT_HOST}'/login/%23%2Fregister%2Fq%2Fstatus%3Aopen'
GERRIT_UNKNOWN_USER='darthvaderdev'
#
## Network settings
PINGTEST_HOST=www.cisco.com # This has worked for eons, hope they keep it up
NETWORK_SLOW_SECONDS=5 # If the internet tests take longer than this we will warn them with a notice
#
# Source User's local config (if any)
for user_config in ${ZONAMADEV_CONFIG_HOME}/user.config ${ZDHOME}/common/user.config
do
    if [ -f "${user_config}" ]; then
        source "${user_config}"
    fi
done
unset user_config
#
# :vi set ft=sh
