#!/bin/bash
#
# global.config - Configuration used by basebox and fasttrack boxes
#
# NOTE: Only put stuff in there that both sides need to know, keep specific stuff in either */*.d/00-config-settings or common/{boxname}.config
#
## Default pw for mysql 'root' user
DEFAULT_MYSQL_PASSWORD='12345678'
#
## Where all the magic happens (note: Highly suggest paths without spaces!)
SERVER_DIR=~vagrant/server
#
# :vi set ft=sh
